<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Logan Cowley</title>
</head>
<header>
    <div class="nav">
        <h2 class="nav-title">Logan Cowley</h2>
        <button class="nav-but">Home</button>
        <button class="nav-but">Projects</button>
        <button class="nav-but">Contact</button>
    </div>
</header>
<body>
    {% block content %}{% endblock %}
</body>
</html>